h2 編集

/ data: {"turbolinks" => false}を付けるとajaxが無効になる
/ 無効にしないと、画面遷移でjsが動作しなくなる
.nav.justify-content-end
    / = link_to '一覧', tasks_path, class: 'nav-link', data: {"turbolinks" => false}

= render partial: 'form', locals: { task: @task }
